
<div class="top-bar">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <span class="mx-md-2 d-inline-block"></span>

      </div>
    </div>
  </div>
</div>



<div class="col-12">
  <span class="mx-md-2 d-inline-block"></span>
  <!--  <div class="w3-bar w3-black"> -->
  <div class="topnav">
    <a class="active" routerLink="/home">Home</a>
    <a routerLink="/checkservice">Schedule Package</a>
    <a routerLink="/getComplaints">Complaints</a>
    <div class="topnav-right">
      <!--<a href="AddAddress.html">Add Address</a>
    <a href="EditProfile.html">Edit Profile</a>
    <a href="EditCredentials.html">Edit Credentials</a>-->
      <a style="cursor:pointer; color:white;" (click)="logOut()">LogOut</a>
      <!-- <div class="dropdown">
    <button class="dropbtn">Edit</button>
    </div> -->
    </div>

  </div>
</div>
